.home-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 5;
  min-height: 530px;
  padding: 20px 40px;
}
.home-content div.card {
  padding: 15px 20px;
}
.home-content .home-left {
  margin-right: 30px;
  flex: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.home-content .home-left .home-info .home-info-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  z-index: 1;
}
.home-content .home-left .home-info .home-info-top .home-header {
  width: 100px;
}
.home-content .home-left .home-info .home-info-top .home-header .home-header-img {
  margin: 0 auto;
  width: 67px;
  height: 67px;
  border-radius: 67px;
  display: block;
  overflow: hidden;
  position: relative;
  background: #f1f1f1 url("../assets/teacher/defaultHeader.png") no-repeat center;
  background-size: 100%;
}
.home-content .home-left .home-info .home-info-top .home-header .home-header-img img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.home-content .home-left .home-info .home-info-top .home-header .home-header-img .home-header-user {
  background: #f1f1f1;
  height: 100%;
}
.home-content .home-left .home-info .home-info-top .home-detail {
  flex: 5;
  font-size: 14px;
  padding-top: 3px;
}
.home-content .home-left .home-info .home-info-top .home-detail .home-tag {
  background-image: -webkit-gradient(linear, left 0, right 0, from(#623db6), to(#5e85c8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.home-content .home-left .home-info .home-info-top .home-detail .home-detail-text {
  margin-top: 8px;
}
.home-content .home-left .home-info .home-info-top .home-detail .home-detail-text i {
  color: #fc5c41;
}
.home-content .home-left .home-info .home-info-mid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  z-index: 1;
  padding: 30px 0;
}
.home-content .home-left .home-info .home-info-mid span {
  display: block;
  width: 88px;
  padding-left: 17px;
}
.home-content .home-left .home-info .home-info-mid .home-progress {
  flex: 5;
  position: relative;
  height: 19px;
  padding: 3.5px 0;
  margin-right: 26px;
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main {
  background: #d2dade;
  padding: 2px;
  border-radius: 6px;
  height: 12px;
  position: relative;
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-bar {
  overflow: hidden;
  height: 8px;
  border-radius: 4px;
  transition: all 2s linear;
  position: relative;
  background-image: url("../assets/teacher/progress.png");
  background-repeat: no-repeat;
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-first {
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-first .progress-tag {
  height: 16px;
  width: 50px;
  text-align: center;
  position: relative;
  line-height: 14px;
  background: #917acd;
  color: #fff;
  font-size: 10px;
  border-radius: 1px;
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-first .progress-tag:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #917acd;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-first .progress-line {
  height: 23px;
  width: 1px;
  margin: 0 auto;
  background: #917acd;
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-first .progress-grade {
  color: #917acd;
  text-align: center;
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-second {
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-second .progress-tag {
  height: 16px;
  width: 50px;
  text-align: center;
  position: relative;
  line-height: 14px;
  background: #80e398;
  color: #fff;
  font-size: 10px;
  border-radius: 1px;
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-second .progress-tag:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #80e398;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-second .progress-line {
  height: 23px;
  width: 1px;
  margin: 0 auto;
  background: #80e398;
}
.home-content .home-left .home-info .home-info-mid .home-progress .home-progress-main .progress-second .progress-grade {
  color: #80e398;
  width: 38px;
  text-align: center;
}
.home-content .home-left .home-info .home-info-bottom {
  position: relative;
  z-index: 1;
  padding-left: 35px;
  padding-right: 26px;
  background: url("../assets/teacher/laba.png") no-repeat 15px center;
  height: 40px;
  overflow: hidden;
}
.home-content .home-left .home-info .home-info-bottom ul {
  position: relative;
}
.home-content .home-left .home-info .home-info-bottom ul.anim {
  transition: all 0.5s linear;
  margin-top: -40px;
}
.home-content .home-left .home-info .home-info-bottom ul li {
  line-height: 40px;
}
.home-content .home-left .home-info .home-info-bottom ul li a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.home-content .home-left .home-info .home-info-bottom ul li a:hover {
  color: #5e85c8;
}
.home-content .home-left .home-info .home-info-bottom ul li a p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  flex: 5;
  max-width: 320px;
}
.home-content .home-left .home-info .home-info-bottom ul li a span {
  display: block;
}
.home-content .home-left .home-info .home-info-nav {
  border-top: 1px solid #d2dade;
  padding-top: 20px;
  position: relative;
  z-index: 1;
}
.home-content .home-left .home-info .home-info-nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.home-content .home-left .home-info .home-info-nav ul li {
  flex: 5;
  text-align: center;
  color: #5e85c8;
  cursor: pointer;
  transition: color .2s;
}
.home-content .home-left .home-info .home-info-nav ul li a,
.home-content .home-left .home-info .home-info-nav ul li .home-nav-link {
  width: 80px;
  display: block;
  margin: 0 auto;
  height: 60px;
  border-radius: 7px;
}
.home-content .home-left .home-info .home-info-nav ul li a:hover,
.home-content .home-left .home-info .home-info-nav ul li .home-nav-link:hover {
  background: rgba(94, 133, 200, 0.2);
}
.home-content .home-left .home-info .home-info-nav ul li a:active,
.home-content .home-left .home-info .home-info-nav ul li .home-nav-link:active {
  background: rgba(94, 133, 200, 0.3);
}
.home-content .home-left .home-info .home-info-nav ul li .home-nav-icon {
  height: 35px;
  position: relative;
  width: 100%;
  transition: transform .2s;
}
.home-content .home-left .home-info .home-info-nav ul li .home-nav-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  line-height: 1;
}
.home-content .home-left .home-info .home-info-nav ul li:nth-of-type(1) .home-nav-icon {
  background: url('../assets/teacher/homeNav1.png') no-repeat center;
}
.home-content .home-left .home-info .home-info-nav ul li:nth-of-type(2) .home-nav-icon {
  background: url('../assets/teacher/homeNav2.png') no-repeat center;
}
.home-content .home-left .home-info .home-info-nav ul li:nth-of-type(3) .home-nav-icon {
  background: url('../assets/teacher/homeNav3.png') no-repeat center;
}
.home-content .home-left .home-info .home-info-nav ul li:nth-of-type(4) .home-nav-icon {
  background: url('../assets/teacher/homeNav4.png') no-repeat center;
}
.home-content .home-left .home-info .home-info-nav ul li:nth-of-type(5) .home-nav-icon {
  background: url('../assets/teacher/homeNav5.png') no-repeat center;
}
.home-content .home-left .home-class-tip {
  flex: 5;
  margin-top: 20px;
  min-height: 174px;
  display: flex;
  padding: 0;
}
.home-content .home-left .home-class-tip .home-class-tip-main {
  flex: 5;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.home-content .home-left .home-class-tip .home-class-tip-main h2 {
  font-size: 14px;
  margin-bottom: 5px;
  padding: 15px 20px 0;
}
.home-content .home-left .home-class-tip .home-class-tip-main .home-class-tip-table {
  flex: 5;
  overflow-y: auto;
  padding: 0 20px 15px;
  display: flex;
}
.home-content .home-left .home-class-tip .home-class-tip-main table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 12px;
}
.home-content .home-left .home-class-tip .home-class-tip-main table tr.active td {
  color: #da7194;
  white-space: nowrap;
}
.home-content .home-left .home-class-tip .home-class-tip-main table tr.active td:first-child:before {
  background: #da7194;
}
.home-content .home-left .home-class-tip .home-class-tip-main table tr td {
  position: relative;
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 12px;
  text-align: center;
  padding: 0 5px;
}
.home-content .home-left .home-class-tip .home-class-tip-main table tr td:first-child {
  padding-left: 10px;
}
.home-content .home-left .home-class-tip .home-class-tip-main table tr td:first-child:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 11px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #727a89;
}
.home-content .home-left .home-class-tip .home-class-tip-main table tr td:first-child,
.home-content .home-left .home-class-tip .home-class-tip-main table tr td:last-child {
  text-align: left;
}
.home-content .home-right {
  flex: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  background: #e6f4ff;
}
.home-content .home-right .home-date {
  padding: 15px 37px;
}
.home-content .home-right .home-date .home-date-main {
  position: relative;
  z-index: 1;
}
.home-content .home-right .home-date .home-date-main .home-date-select {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 24px;
  line-height: 24px;
}
.home-content .home-right .home-date .home-date-main .home-date-select h2 {
  flex: 5;
  color: #73676b;
  font-size: 14px;
}
.home-content .home-right .home-date .home-date-main .home-date-select .home-class-date-btn {
  color: #4c4245;
  font-size: 14px;
}
.home-content .home-right .home-date .home-date-main .home-date-select .home-class-date-btn > div {
  display: inline-block;
}
.home-content .home-right .home-date .home-date-main .home-date-select .home-class-date-btn .ivu-icon-chevron-up {
  margin-right: 15px;
}
.home-content .home-right .home-date .home-date-main .home-date-select .home-class-date-btn .ivu-icon {
  cursor: pointer;
}
.home-content .home-right .home-date .home-date-main .home-date-select .home-class-date-btn .ivu-icon:hover {
  color: #70686a;
}
.home-content .home-right .home-date .home-date-main .home-date-select .home-class-date-btn .ivu-icon:active {
  color: #483f42;
}
.home-content .home-right .home-date .home-date-main .home-date-picker h3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.home-content .home-right .home-date .home-date-main .home-date-picker h3 span {
  color: #73676b;
  display: block;
  width: 34px;
  text-align: center;
  height: 34px;
  font-size: 13px;
  line-height: 34px;
}
.home-content .home-right .home-date .home-date-main .home-date-picker p {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.home-content .home-right .home-date .home-date-main .home-date-picker p span {
  color: #73676b;
  display: block;
  width: 34px;
  text-align: center;
  height: 34px;
  font-size: 14px;
  cursor: pointer;
  line-height: 34px;
  position: relative;
  border-radius: 50%;
}
.home-content .home-right .home-date .home-date-main .home-date-picker p span.un {
  cursor: not-allowed;
  opacity: .2;
}
.home-content .home-right .home-date .home-date-main .home-date-picker p span.no {
  cursor: not-allowed;
  opacity: .5;
}
.home-content .home-right .home-date .home-date-main .home-date-picker p span.no:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #73676b;
  opacity: .5;
}
.home-content .home-right .home-date .home-date-main .home-date-picker p span.picked {
  background: #ffe0db;
  color: #fc5c41;
}
.home-content .home-right .home-date .home-date-main .home-date-picker p span.picked:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  border-bottom: 4px solid #ffe0db;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.home-content .home-right .home-class-list {
  flex: 5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 3px 3px 7px rgba(160, 131, 137, 0.35);
  position: relative;
  min-height: 198px;
  display: flex;
}
.home-content .home-right .home-class-list .home-class-list-main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: 5;
}
.home-content .home-right .home-class-list .home-class-list-main h3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px 37px 0;
}
.home-content .home-right .home-class-list .home-class-list-main h3 strong {
  color: #fc5c41;
}
.home-content .home-right .home-class-list .home-class-list-main h3 span {
  color: #8e96a5;
}
.home-content .home-right .home-class-list .home-class-list-main h3 span em {
  display: inline-block;
  position: relative;
  padding-left: 20px;
}
.home-content .home-right .home-class-list .home-class-list-main h3 span em:before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.home-content .home-right .home-class-list .home-class-list-main h3 span em:nth-child(1):before {
  background: #ed9d40;
}
.home-content .home-right .home-class-list .home-class-list-main h3 span em:nth-child(2):before {
  background: #86d2b1;
}
.home-content .home-right .home-class-list .home-class-list-main .home-class-list-table {
  flex: 5;
  overflow-y: auto;
  display: flex;
  padding: 0 37px 15px;
}
.home-content .home-right .home-class-list .home-class-list-main table {
  width: 100%;
}
.home-content .home-right .home-class-list .home-class-list-main table td {
  font-size: 14px;
  line-height: 35px;
  height: 35px;
  min-width: 50px;
  text-align: center;
  padding: 0 5px;
  white-space: nowrap;
}
.home-content .home-right .home-class-list .home-class-list-main table td:first-child,
.home-content .home-right .home-class-list .home-class-list-main table td:last-child {
  text-align: left;
}
.home-content .home-right .home-class-list .home-class-list-main table td i {
  width: 1px;
  height: 35px;
  background: #d2dade;
  position: relative;
  display: block;
  margin: 0 auto;
}
.home-content .home-right .home-class-list .home-class-list-main table td i:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
}
.home-content .home-right .home-class-list .home-class-list-main table td i.orange:after {
  background: #ed9d40;
}
.home-content .home-right .home-class-list .home-class-list-main table td i.green:after {
  background: #86d2b1;
}
.home-content .home-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.6);
  z-index: 4;
}
.home-content .home-video .home-video-main {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding-top: 35%;
  min-height: 450px;
}
.home-content .home-video .home-video-main .home-video-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.home-content .home-video .home-video-main .home-video-wrap .video-player {
  width: 100%;
  height: 100%;
  position: relative;
}
.home-content .home-video .home-video-main .home-video-wrap .video-player button {
  outline: none;
}
.home-content .home-video .home-video-main .home-video-wrap .video-player .video-js {
  width: 100%;
  height: 100%;
}
.home-content .home-video .home-video-main .home-video-wrap .video-player .video-js .vjs-big-play-button {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.home-content .home-video .home-video-main .home-video-wrap .video-player .video-js .vjs-button > .vjs-icon-placeholder:before {
  font-size: 20px;
  line-height: 36px;
}
.home-content .home-video .home-video-main .home-video-wrap .video-player .video-js .vjs-playback-rate .vjs-playback-rate-value {
  font-size: 14px;
  line-height: 36px;
}
.home-content .home-video .home-video-main .home-video-wrap .video-close {
  position: absolute;
  right: -30px;
  top: 0;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}
.home-content .home-video .home-video-main .home-video-wrap .video-close:hover {
  color: #d4d4d4;
}
.home-content .home-video .home-video-main .home-video-wrap .video-close:active {
  color: #cccccc;
}
