.openContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.openContainer .card:before,
.openContainer .card:after {
  z-index: -1;
}
.openContainer .commonTitleMain h2 span {
  line-height: 35px;
  color: #939aa9;
  font-size: 12px;
  margin-left: 8px;
  vertical-align: 2px;
}
.openContainer .cwBody {
  padding-left: 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 5;
}
.openContainer .cwBody .studentList ul {
  display: flex;
  flex-wrap: wrap;
}
.openContainer .cwBody .studentList ul li {
  width: 217px;
  height: 82px;
  position: relative;
  margin: 24px 24px 30px 0px;
  padding: 0 15px 0 9px ;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-color: #ecf3fc;
}
.openContainer .cwBody .studentList ul li div.courseMain {
  display: flex;
  justify-content: space-between;
}
.openContainer .cwBody .studentList ul li div.courseMain div.courseDetail > div:first-child {
  padding: 20px 0 10px 0;
  font-size: 14px;
  line-height: 14px;
  color: #727a89;
}
.openContainer .cwBody .studentList ul li div.courseMain div.courseDetail > div:first-child span:nth-child(2) {
  margin-left: 10px;
}
.openContainer .cwBody .studentList ul li div.courseMain div.courseDetail > div:first-child div.detail {
  display: inline-block;
  font-size: 12px;
  color: #623fb7;
  cursor: pointer;
}
.openContainer .cwBody .studentList ul li div.courseMain div.courseDetail > p:nth-child(2) {
  color: #727a89;
  font-size: 14px;
  line-height: 14px;
}
.openContainer .cwBody .studentList ul li div.courseMain div.courseDetail > p:nth-child(2) span:nth-child(2) {
  margin-left: 10px;
}
.openContainer .cwBody .studentList ul li div.courseMain div.enterRoom .enterClass {
  width: 54px;
  height: 24px;
  border-radius: 4px;
  background-color: #5e85c8;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  margin: 30px auto 0;
  cursor: pointer;
}
.openContainer .openTip {
  width: 180px;
  height: 106px;
  line-height: 106px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.openClass .ivu-modal-content {
  overflow: visible!important;
}
.openClass .ivu-modal .ivu-modal-content .ivu-modal-header {
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.openClass form {
  margin-top: 15px;
}
.openClass form .ivu-form-item-label {
  font-size: 14px!important;
  color: #727a89 !important;
  padding: 10px 0!important;
  text-align: left!important;
}
.openClass form .ivu-form-item-required .ivu-form-item-label:before {
  content: '';
  margin-right: 0;
}
.openClass form .ivu-form-item-content {
  line-height: 26px;
}
.openClass form .ivu-date-picker {
  width: 196px;
}
.openClass form .ivu-form-item {
  margin-bottom: 30px;
}
.openClass form .ivu-select-single .ivu-select-selection {
  height: 34px;
}
.openClass form .ivu-select-single .ivu-select-selection .ivu-select-placeholder {
  height: 34px;
  line-height: 34px;
}
.openClass form .ivu-input {
  height: 34px;
  line-height: 34px;
}
.openClass form .ivu-form-item:last-child {
  margin-top: -8px;
}
.openClass form .ivu-radio-wrapper {
  color: #505151;
  margin-right: 12px;
}
.openClass form .ivu-radio-wrapper:last-child {
  margin-right: 0px;
}
.openClass form .ivu-radio-checked .ivu-radio-inner:after {
  opacity: 0;
  transform: none;
  content: none;
}
.openClass form .ivu-radio {
  margin-right: 0;
}
.openClass form .ivu-radio-checked .ivu-radio-inner {
  background: url(../assets/teacher/check.png) no-repeat center;
  transition: none;
}
.openClass form .ivu-radio-focus {
  box-shadow: none;
}
.openClass form .ivu-radio-wrapper-checked {
  color: #5e85c8;
}
.openClass form .submit {
  width: 143px;
  height: 34px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  margin: 0 auto;
  display: block;
}
.openClass form .submit[disabled] {
  background-color: #dadada !important;
}
.openClass form .submit.active {
  color: transparent;
  background: #5e85c8 url(../assets/images/load.gif) no-repeat center !important;
}
.openClass form .ivu-modal-footer {
  padding: 0;
}
